django
djangorestframework
django-filter
drf_yasg[validation]
djangorestframework-simplejwt
django-mail-templated
python-jose[cryptography]
drf-recaptcha
pytest
pytest-django
black
flake8
faker
django-cors-headers
celery
redis
django-redis
requests
gunicorn
python-decouple
psycopg2-binary