{% extends "base.html" %}

{% load static %}

{% block title %}Reset Password{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "Account/css/styles.css" %}">
{% endblock extra_css %}

{% block content %}
    {% if error %}
        <main>
            <article class="form_container">
                <h1 class="form_title">Reset Password</h1>
                <p>{{ error }} If you want to try again, you can request a new password reset.</p>
                <a class="button" href="{% url "Account:reset-password" %}">Request Password Reset</a>
            </article>
        </main>
    {% else %}
    <main>
        <article class="form_container">
            <h1 class="form_title">Reset Password</h1>
            <form class="auth_form" action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
                <section class="form_section">
                    <label for="new_password1" class="form_label">New Password</label>
                    <input name="new_password1" type="password" class="form_input" id="new_password1">
                    {% if form.new_password1.errors %}
                        <ul class="error_list">
                            {% for error in form.new_password1.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </section>
                <section class="form_section">
                    <label for="new_password2" class="form_label">New Password Confirmation</label>
                    <input name="new_password2" type="password" class="form_input" id="new_password2">
                    {% if form.new_password2.errors %}
                        <ul class="error_list">
                            {% for error in form.new_password2.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </section>
                <button class="button" type="submit">Reset Password</button>
            </form>

            {% if form.non_field_errors %}
                <ul class="error_list">
                    {% for error in form.non_field_errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </article>
    </main>
    {% endif %}
{% endblock %}