{% extends "base.html" %}

{% load static %}

{% block title %}Reset Password{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "Account/css/styles.css" %}">
{% endblock extra_css %}

{% block content %}
    <main>
        <article class="form_container">
            <h1 class="form_title">Reset Password</h1>
            <p>Password reset email has just sent to <span style="padding: 5px; background-color: #007bff50; border-radius:5px">{{ email }}</span>. Please follow the instructions to reset your password.</p>
        </article>
    </main>
{% endblock %}